.form {
    padding: 5vw;
    opacity: 0;
    font-size: 1.5em;
    background-color: #fff;
}

input {
    border: 1px solid rgb(172, 172, 172);
    color: rgb(94, 94, 94);
    font-size: 0.8em;
    padding: 10px;
    border-radius: 8px;
    font-weight: lighter;
    width: 100%;
    outline: none;
    margin-top: 1vw;
}

button[type="submit"] {
    margin-top: 1vw;
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgb(172, 172, 172);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85em;
    cursor: pointer;
    height: 2em;
    font-weight: 200;
}

.icon-search {
    margin-left: 0.2em;
}

.footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 4rem;
    font-size: 0.6em;
    font-weight: bold;
}