main {
  display: grid;
  grid-template-columns: 2fr 3fr;
  min-height: 100vh;
}

#cover {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  display: block;
}

.icon {
  width: 1em;
  height: 1em;
}

@media only screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }

  .results {
    order: -1;
    height: auto !important;
  }
}